/* Write your CSS here */
.github-popular-container{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
    
}
.popular{
    font-family: 'popular';
    font-weight: 2000;
    font-style: italic;
    color: #104292;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-family: 'popular';
}
.RepositoryItem-box{
    display: flex;
    flex-wrap: wrap;
}
.failureView{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.falure-img{
    width: 30rem;
    height: 20rem;
}