/* Write your CSS here */
.languageItems{
    display: flex;
    font-size:10px;
}
button{
    border-color: transparent;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
    font-family: 'popular';
    
}
:hover>button{
    border:1px solid blue;
}
.btnCss {
  border: solid 1px #0284c7;
  font-weight: 'Roboto';
  font-weight: 800;
  color: #0284c7;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  padding: 6px;
  background-color: transparent;
}
.btnNonCss {
  font-weight: 'Roboto';
  font-size: 20px;
  border-width: 0px;
  font-weight: 800;
  padding: 6px;
  cursor: pointer;
  color: #1e293b;
  background-color: transparent;
}
